<div class="widget">
  <div class="location-time">
    <span class="icon-and-text">
      <svg class="bi" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#geo-alt" />
      </svg>
      {{ locationName }}
    </span>
    <span class="icon-and-text">
      <svg class="bi" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#clock" />
      </svg>
      {{ lastReload | date : "EEEE, H:mm" : locationTimezone : "de-de" }}
    </span>
  </div>
  <div class="weather">
    <a
      class="reload-button"
      type="button"
      title="Wetter neuladen"
      (click)="fetchWeatherApi()"
      [class.is-reloading]="isWeatherReloading"
    >
      <svg class="bi" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#arrow-clockwise" />
      </svg>
    </a>
    <div class="today">
      <span class="temperature">
        @if (currentWeather().temperature2m) {
        <span>
          {{ (currentWeather().temperature2m | number : "1.0-2") + "°C" }}
        </span>
        }
      </span>
      <div class="weather-code">
        @if (currentWeather().weatherCode && weatherCodes) {
        <img [src]="weatherCodes[currentWeather().weatherCode!].day.image" />
        }
      </div>

      <div class="weather-info">
        <span>
          Niederschlag:
          <span class="float-right">
            @if (currentWeather().precipitation != undefined) {
            <span
              [innerHTML]="currentWeather().precipitation | number : '1.0-1'"
            ></span>
            mm }
          </span>
        </span>
        <span>
          Luftfeuchtigkeit:
          <span class="float-right">
            @if (currentWeather().relativeHumidity2m != undefined) {
            <span
              [innerHTML]="
                currentWeather().relativeHumidity2m | number : '1.0-0'
              "
            ></span>
            % }
          </span>
        </span>
        <span>
          Wind:
          <span class="float-right">
            @if (currentWeather().windSpeed10m != undefined) {
            <span
              [innerHTML]="currentWeather().windSpeed10m | number : '1.0-1'"
            ></span>
            km/h }
          </span>
        </span>
      </div>
    </div>
    <div class="forecast">
      @for(forecast of forecastWeather(); track forecast.time) {
      <div class="forecast-day">
        @if (forecast.time?.getDate() === lastReload.getDate()) {
        <span>Heute</span>
        } @else {
        <span>
          {{ forecast.time | date : "EE" : locationTimezone : "de-de" }}
        </span>
        } @if (forecast.weatherCode && weatherCodes) {
        <img
          class="forecast-weather-icon"
          [src]="weatherCodes[forecast.weatherCode].day.image"
        />
        }
        <span>{{ (forecast.temperature2mMax | number : "1.0-0") + "°" }}</span>
        <span>{{ (forecast.temperature2mMin | number : "1.0-0") + "°" }}</span>
      </div>
      } @empty {}
    </div>
  </div>
  <small class="license">
    <a href="https://open-meteo.com/">Weather data by open-meteo.com</a>
  </small>
</div>
