:host {
  .bi {
    width: 1rem;
    height: 1rem;
    margin: 0 0.25rem;
  }

  .float-right {
    float: right;
  }

  .icon-and-text {
    display: inline-flex;
  }

  .widget {
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.1rem 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: fit-content;
  }

  .weather {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .location-time {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
  }

  .today {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 25rem;
    height: 5rem;
    padding-top: 0.5rem;

    .temperature {
      width: 4rem;
      text-align: right;
    }

    .weather-code {
      width: 5rem;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .weather-info {
      display: flex;
      flex-direction: column;
      min-width: 11rem;
    }
  }

  .forecast {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 25rem;

    .forecast-day {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0.25rem;
    }

    .forecast-weather-icon {
      height: 3rem;
      margin: auto;
    }
  }

  .license {
    font-size: 0.5rem;
    width: 100%;
    display: block;
    text-align: right;
    margin-top: 0.5rem;
  }
}
