<div class="widget">
  <div class="location-time">
    <span>Furtwangen im Schwarzwald</span>
    <span>Samstag, 12:39</span>
  </div>
  <div class="weather">
    <div class="today">
      <span class="temperature">13°C</span>
      <div class="weather-code">
        <img />
        <span>Bewölkt</span>
      </div>
      <div class="weather-info">
        <span>Niederschlag: 12%</span>
        <span>Luftfeuchtigkeit: 52%</span>
        <span>Wind: 2km/h</span>
      </div>
    </div>
    <div class="forecast">
      <div class="forecast-day">
        <span>Heute</span>
        <img />
        <span>18°</span>
        <span>11°</span>
      </div>
      <div class="forecast-day">
        <span>So</span>
        <img />
        <span>18°</span>
        <span>11°</span>
      </div>
      <div class="forecast-day">
        <span>Mo</span>
        <img />
        <span>18°</span>
        <span>11°</span>
      </div>
      <div class="forecast-day">
        <span>Di</span>
        <img />
        <span>18°</span>
        <span>11°</span>
      </div>
      <div class="forecast-day">
        <span>Mi</span>
        <img />
        <span>18°</span>
        <span>11°</span>
      </div>
      <div class="forecast-day">
        <span>Do</span>
        <img />
        <span>18°</span>
        <span>11°</span>
      </div>
      <div class="forecast-day">
        <span>Fr</span>
        <img />
        <span>18°</span>
        <span>11°</span>
      </div>
    </div>
  </div>
</div>
